# 使用：`cp .env.example .env`，然后填入测试平台的API key
# 重要的事情说三遍：
#   不要提交 .env！
#   不要提交 .env！
#   不要提交 .env！

# DeepSeek
API_TEST_DEEPSEEK_KEY=
API_TEST_DEEPSEEK_MODEL=deepseek-chat

# 千问
API_TEST_QWEN_KEY=
API_TEST_QWEN_MODEL=qwen-turbo

# OpenAI
API_TEST_OPENAI_KEY=
API_TEST_OPENAI_MODEL=gpt-4o-mini

# Anthropic
API_TEST_ANTHROPIC_KEY=
API_TEST_ANTHROPIC_MODEL=claude-3-5-haiku-20241022

# Kimi API
API_TEST_KIMI_API_KEY=
API_TEST_KIMI_API_MODEL=moonshot-v1-8k

# Kimi Code Plan
API_TEST_KIMI_CODE_PLAN_KEY=
API_TEST_KIMI_CODE_PLAN_MODEL=kimi-for-coding

# MiniMax CN API
API_TEST_MINIMAX_CN_API_KEY=
API_TEST_MINIMAX_CN_API_MODEL=MiniMax-M3

# MiniMax CN Token Plan
API_TEST_MINIMAX_CN_PLAN_KEY=
API_TEST_MINIMAX_CN_PLAN_MODEL=MiniMax-M3

# MiniMax API
API_TEST_MINIMAX_API_KEY=
API_TEST_MINIMAX_API_MODEL=MiniMax-M3

# MiniMax Token Plan
API_TEST_MINIMAX_PLAN_KEY=
API_TEST_MINIMAX_PLAN_MODEL=MiniMax-M3

# 智谱 GLM
API_TEST_ZHIPU_KEY=
API_TEST_ZHIPU_MODEL=glm-4-flash

# OpenRouter
API_TEST_OPENROUTER_KEY=
API_TEST_OPENROUTER_MODEL=google/gemini-2.0-flash-lite-001
